@import "aos/dist/aos.css";
@import "tailwindcss";

:root {
  /* Base */
  --bg-primary: #0b0b0b; /* Luxury black */
  --bg-secondary: #111111; /* Slight contrast black */
  --bg-glass: rgba(15, 15, 15, 0.6);

  /* Text */
  --text-primary: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.75);
  --text-muted: rgba(255, 255, 255, 0.55);

  /* Accent (Dubai Gold) */
  --accent-primary: #cfae70;
  --accent-secondary: #f5d58c;
  --accent-glow: rgba(207, 174, 112, 0.45);

  /* Borders */
  --border-light: rgba(255, 255, 255, 0.12);
  --border-accent: rgba(207, 174, 112, 0.6);

  /* Status */
  --success: #22c55e;
  --error: #ef4444;
}

@keyframes glow-move {
  0% {
    transform: translate(-20%, -20%);
  }
  50% {
    transform: translate(20%, 20%);
  }
  100% {
    transform: translate(-20%, -20%);
  }
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  overflow: auto;
  -ms-overflow-style: none; /* IE & old Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
